 .succes-container{
    background-color: #CE2829;
    color: white;
    height: 100vh;
    display: grid;
    place-items: center;
    
    
}

.alt-metin{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    font-family: "Roboto Condensed";
    flex-wrap: wrap;
    font-size: 3rem;
    

}
