 .succes-container{
    background-color: #CE2829;
    color: white;
    height: 100vh;
    
}
.alt-metin{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
   
}
.logo{
    padding: 5rem 0 ;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}
